<template>
<div>
<div v-if="myloading" class="text-center">
<div  class="d-block">
          <b-spinner no-wrap class="p-0"  type="grow" variant="danger"></b-spinner>
          <b-spinner class="p-2" type="grow" variant="danger"></b-spinner>
          <b-spinner  class="p-0" type="grow" variant="danger"></b-spinner>
</div>
 </div>
  <section id="dashboard-ecommerce" v-if="!myloading">
   <!-- default -->
  
   
    
   <b-row>
    <b-col
      lg="3"
      md="3"
    >
    <b-form-group>
      <flat-pickr
        placeholder="Select date range"
        class="form-control"
        v-model="date"
        :config="{ mode: 'range'}"
      />
    </b-form-group>
    </b-col>
    <b-col lg="2" md="2" >
        <feather-icon
                  icon="RefreshCcwIcon"
                  style="margin-top:7px;"
                  class=" cursor-pointer"
                  size="21"
                  @click="LoadData()"
                />
    </b-col>
      <b-col lg="2" md="2" >
       
    </b-col>
  </b-row>
    <br>
      
    <b-row >
      <b-col lg="4">
        <b-row class="match-height">
          <!-- Bar Chart - Orders -->
          <b-col
            lg="6"
            md="3"
            cols="6"
          >
            <ecommerce-order-chart :data="data.totalOrders" />
          </b-col>
          <!--/ Bar Chart - Orders -->

          <!-- line Chart - Sales -->
          <b-col
            lg="6"
            md="3"
            cols="6"
            
          >
            <ecommerce-profit-chart :data="data.sum" />
          </b-col>
          <!--/ line Chart - Sales -->  
          <!-- Earning chart -->
        <b-col
          lg="12"
          md="6"
        >
          <!-- <ecommerce-earnings-chart :data="data.earningsChart" /> -->
        </b-col>
        <!--/ Earning chart --> 
        </b-row>
      </b-col>
       <!-- order stats Card -->
      <b-col lg="4">
        <orderStatistics :data="data.goal" />
      </b-col>
      <!--/  order stats Card -->
      <!-- Orders Card -->
      <b-col lg="4">
        <dashboardOrders :data="data.latestOrders" />
      </b-col>
      <!--/ Orders Card -->
    </b-row>
     <b-row class="match-height">
        <b-col lg="6">
        <ecommerce-company-table :table-data="data.mostSoldProducts.costlist" />
      </b-col>
    <b-col lg="6">
    <chartjs-bar-chart v-if="!chartLoading" />
       
    </b-col>
   
    </b-row>
    <!-- <b-row class="match-height">
       <b-col lg="6">
        <ecommerce-company-table :table-data="data.companyTable" />
      </b-col>
    </b-row> -->
    <b-row>
     <!-- New customers Card -->
      <b-col
       lg="12"
      >
        <newCustomers :table-data="data.newCustomers" />
      </b-col>
      <!--/  New customers Card-->
    </b-row>
  </section>
</div>
 
</template>

<script>
import { BRow, BCol,BSpinner } from 'bootstrap-vue'
import { getUserData } from '@/auth/utils'
//import EcommerceBrowserStates from './EcommerceBrowserStates.vue'
//import EcommerceTransactions from './EcommerceTransactions.vue'
import EcommerceEarningsChart from './EcommerceEarningsChart.vue'
import EcommerceProfitChart from './EcommerceProfitChart.vue'
import EcommerceOrderChart from './EcommerceOrderChart.vue'
import EcommerceCompanyTable from './EcommerceCompanyTable.vue'
import DashboardOrders from './DashboardOrders.vue'
import OrderStatistics from './OrderStatistics.vue'
import NewCustomers from './NewCustomers.vue'
import ChartjsBarChart from './ChartjsBarChart.vue'
import flatPickr from 'vue-flatpickr-component'
import chartjsData from './chartjsData'


export default {
  components: {
    BRow,
    BSpinner,
    BCol,
    EcommerceOrderChart,
   // EcommerceBrowserStates,
    //EcommerceEarningsChart,
    EcommerceProfitChart,
    //EcommerceOrderChart,
    EcommerceCompanyTable,
    DashboardOrders,
    OrderStatistics,
    NewCustomers,
    ChartjsBarChart,
    flatPickr,
  },
  data() {
    return {
      myloading:true,
      chartjsData,
      chartLoading:false,
      data: 
      {
      readyForDelivery: '',
      requiresActions: '',
      underProgress: '',
      date:'',
      data: {},
      productandCustomerData :{}
      },
    }
  },
  created() {
    // data
    this.LoadWithoutDate();
    
    // this.$http.get('/ecommerce/data')
    //   .then(response => {
    //     this.data = response.data

    //     // ? Your API will return name of logged in user or you might just directly get name of logged in user
    //     // ? This is just for demo purpose
    //     const userData = getUserData()
    //     this.data.congratulations.name = userData.fullName.split(' ')[0] || userData.username
    //   })
  },
  methods:
  {
    LoadWithoutDate()
    {
       
var axios = require('axios');

var myObj =
{
from:'0001-01-01',
to:'0001-01-01',
}
  var config = {
    method: 'post',
    url: 'https://okaaik.fastech.pk/api/dashboard/AdminDashBoard',
    headers: {
      'Authorization': 'bearer 56EeZXfkyt2E4yYawlxCo3FFMZiFmhDs2VZbA9jLIfTs70L_z5gC9yAMCchwnNRUcicotXJNc3GcSB8M-T9i8PLd-HUMk4KXom3Uu_kC4kbFhSk02Z9YQRwZqVdXjECBVCA0gOhnVoRLztCFQxNgVJbeWEMubqzh8dFpvnkIoC_2FF0kyCzKbwj4SYtF1fMMyhy2CO8DOIWUTZtdpwpI-IjGB0CyHhav_I_ag72apOUtKKhAoshLdYfcFz3QBYC0Pj-FIyEbzz_S5Rcp9fiIG3y5UM6RtSf8zP08M42rVjkLHwOb5cc8YafdfFExhGFI'
    },
    data: myObj
  };

  axios(config)
  .then( (response) => {
    // console.log(JSON.stringify(response.data));
   
    //  this.data  =  response.data;
     //console.log( response.data);
     if(response.data.status === "success")
     {
   

    this.data = response.data;
    let myarr=[]; 
    myarr.push(this.data.goal.percentage);
   
    this.data.goal.percentage = myarr;
    console.log("myper", this.data.goal.percentage); 
    console.log(this.data);
    this.requiresActions = response.data.requiresActions;
    this.readyForDelivery = response.data.readyForDelivery;
    this.underProgress = response.data.underProgress;
   // this.productandCustomerData = response.data.;
    this.myloading = false;
    console.log("Asas",this.myloading);
    console.log("MyData",this.data.mostSoldProducts.costlist);

 this.chartLoading= true;
var chObj = 
{
from:'0001-01-01',
to:'0001-01-01',
MonthOrWeek:'month',

}
console.log(myObj);
var axios = require('axios');

  var config1 = {
    method: 'post',
    url: 'https://okaaik.fastech.pk/api/dashboard/AdminChartData',
    headers: {
      'Authorization': 'bearer 56EeZXfkyt2E4yYawlxCo3FFMZiFmhDs2VZbA9jLIfTs70L_z5gC9yAMCchwnNRUcicotXJNc3GcSB8M-T9i8PLd-HUMk4KXom3Uu_kC4kbFhSk02Z9YQRwZqVdXjECBVCA0gOhnVoRLztCFQxNgVJbeWEMubqzh8dFpvnkIoC_2FF0kyCzKbwj4SYtF1fMMyhy2CO8DOIWUTZtdpwpI-IjGB0CyHhav_I_ag72apOUtKKhAoshLdYfcFz3QBYC0Pj-FIyEbzz_S5Rcp9fiIG3y5UM6RtSf8zP08M42rVjkLHwOb5cc8YafdfFExhGFI'
    },
    data:chObj
  };

  axios(config1)
  .then( (response) => {
    // console.log(JSON.stringify(response.data));
   
    //  this.data  =  response.data;
     console.log( response.data);
     if(response.data.status === "success")
     {
       var max = 0;
       max = Math.max.apply(null, response.data.sales);
       console.log(max);
       this.chartjsData.latestBarChart.options.scales.yAxes[0].ticks.max = 0;
       this.chartjsData.latestBarChart.options.scales.yAxes[0].ticks.max =  max;

      console.log("MyMaximum" ,  this.chartjsData.latestBarChart.options.scales.yAxes[0].ticks.max);
      //  response.data.sales.forEach(item => {
      //     this.maxVal = Math.max.apply(Math, item);
		  //     this.minVal = Math.min.apply(Math, item);
      //  });
      // console.log(this.maxVal,this.minVal);
      //this.data = response.data;
      this.chartjsData.latestBarChart.data.labels = [];
      this.chartjsData.latestBarChart.data.labels =  response.data.mydays;
      this.chartjsData.latestBarChart.data.datasets[0].data = [];
      this.chartjsData.latestBarChart.data.datasets[0].data = response.data.sales;
      //console.log( "Null",this.chartjsData.latestBarChart.data.datasets[0].data);
       this.chartLoading= false;

     }  
 })
  .catch(function (error) {
    console.log(error);
  });

     }
     
  //   this.myProducts = response.data.data;
  //    console.log(this.myProducts);
  // if(this.myProducts.data.length == 0)
  //  {
  //    this.productEmpty = true;
  //  }  
 })
  .catch(function (error) {
    console.log(error);
  });
    
    },
    
      LoadData()
    {
      this.myloading = true;
      let from = this.date.split(" ")[0];
      let to = this.date.split(" ")[2];
      console.log(from,to);
var axios = require('axios');

var myObj =
{
from:from,
to:to,
}
  var config = {
    method: 'post',
    url: 'https://okaaik.fastech.pk/api/dashboard/AdminDashBoard',
    headers: {
      'Authorization': 'bearer 56EeZXfkyt2E4yYawlxCo3FFMZiFmhDs2VZbA9jLIfTs70L_z5gC9yAMCchwnNRUcicotXJNc3GcSB8M-T9i8PLd-HUMk4KXom3Uu_kC4kbFhSk02Z9YQRwZqVdXjECBVCA0gOhnVoRLztCFQxNgVJbeWEMubqzh8dFpvnkIoC_2FF0kyCzKbwj4SYtF1fMMyhy2CO8DOIWUTZtdpwpI-IjGB0CyHhav_I_ag72apOUtKKhAoshLdYfcFz3QBYC0Pj-FIyEbzz_S5Rcp9fiIG3y5UM6RtSf8zP08M42rVjkLHwOb5cc8YafdfFExhGFI'
    },
    data: myObj
  };

  axios(config)
  .then( (response) => {
    // console.log(JSON.stringify(response.data));
   
    //  this.data  =  response.data;
     //console.log( response.data);
     if(response.data.status === "success")
     {
   

    this.data = response.data;
    let myarr=[]; 
    myarr.push(this.data.goal.percentage);
   
    this.data.goal.percentage = myarr;
    console.log("myper", this.data.goal.percentage); 
    console.log(this.data);
    this.requiresActions = response.data.requiresActions;
    this.readyForDelivery = response.data.readyForDelivery;
    this.underProgress = response.data.underProgress;
    
   // this.productandCustomerData = response.data.;
    this.myloading = false;
    console.log("Asas",this.myloading);
    console.log("MyData",this.data.mostSoldProducts.costlist);


console.log(myObj);


     }
     
  //   this.myProducts = response.data.data;
  //    console.log(this.myProducts);
  // if(this.myProducts.data.length == 0)
  //  {
  //    this.productEmpty = true;
  //  }  
 })
  .catch(function (error) {
    console.log(error);
  });
     this.chartLoading= true;
var chObj = 
{
from:from,
to:to,
}

  var config1 = {
    method: 'post',
    url: 'https://okaaik.fastech.pk/api/dashboard/AdminChartData',
    headers: {
      'Authorization': 'bearer 56EeZXfkyt2E4yYawlxCo3FFMZiFmhDs2VZbA9jLIfTs70L_z5gC9yAMCchwnNRUcicotXJNc3GcSB8M-T9i8PLd-HUMk4KXom3Uu_kC4kbFhSk02Z9YQRwZqVdXjECBVCA0gOhnVoRLztCFQxNgVJbeWEMubqzh8dFpvnkIoC_2FF0kyCzKbwj4SYtF1fMMyhy2CO8DOIWUTZtdpwpI-IjGB0CyHhav_I_ag72apOUtKKhAoshLdYfcFz3QBYC0Pj-FIyEbzz_S5Rcp9fiIG3y5UM6RtSf8zP08M42rVjkLHwOb5cc8YafdfFExhGFI'
    },
    data:chObj
  };

  axios(config1)
  .then( (response) => {
    // console.log(JSON.stringify(response.data));
   
    //  this.data  =  response.data;
     console.log("Ibaqd" ,response.data);
     if(response.data.status === "success")
     {
       var max = 0;
       max = Math.max.apply(null, response.data.sales);
       console.log(max);
       this.chartjsData.latestBarChart.options.scales.yAxes[0].ticks.max = 0;
       this.chartjsData.latestBarChart.options.scales.yAxes[0].ticks.max =  max;

      console.log("MyMaximum" ,  this.chartjsData.latestBarChart.options.scales.yAxes[0].ticks.max);
      //  response.data.sales.forEach(item => {
      //     this.maxVal = Math.max.apply(Math, item);
		  //     this.minVal = Math.min.apply(Math, item);
      //  });
      // console.log(this.maxVal,this.minVal);
      //this.data = response.data;
      this.chartjsData.latestBarChart.data.labels = [];
      this.chartjsData.latestBarChart.data.labels =  response.data.mydays;
      this.chartjsData.latestBarChart.data.datasets[0].data = [];
      this.chartjsData.latestBarChart.data.datasets[0].data = response.data.sales;
      //console.log( "Null",this.chartjsData.latestBarChart.data.datasets[0].data);
       this.chartLoading= false;

     }  
 })
  .catch(function (error) {
    console.log(error);
  });

    },
  }
}
</script>

<style lang="scss">
@import '@core/scss/vue/pages/dashboard-ecommerce.scss';
@import '@core/scss/vue/libs/chart-apex.scss';
@import '@core/scss/vue/libs/vue-flatpicker.scss';
</style>
