<template>
  <div>
    <!-- Vendor Details -->
    <b-modal
      id="modal-select2"
      title="Vendor Details"
      centered
      ok-only
      size="lg"
    >
      <div v-if="loading == true">
        <b-spinner
          variant="primary"
          type="grow"
          style="margin-left: 350px"
          class="p-2"
          label="Spinning"
        ></b-spinner>
      </div>
      <div class="container mt-2">
        <div class="container">
          <b-card-img
            :src="detailObj.cover"
            v-if="detailObj.cover !== ''"
            alt="Image"
            class="rounded-1"
            height="250px"
          ></b-card-img>
          <b-card v-if="loading == false">
            <div class="row">
              <div class="col-md-3">
                <div class="images" v-viewer>
                  <div class="profile-img pb-1">
                    <b-img
                      v-for="src in logo"
                      :key="src"
                      :src="src"
                      style="height: 100px"
                      rounded
                      fluid
                      alt="profile photo"
                    />
                  </div>
                </div>
              </div>
              <div class="col-md-9">
                <h4 class="mt-2">{{ detailObj.bakeryName }}</h4>
                <div class="row">
                  <div class="col-md-12">
                    <p>{{ this.detailObj.aboutUs }}</p>
                  </div>
                </div>
              </div>
            </div>

            <b-row>
              <b-col>
                <h4 class="mb-0">Bakery Details</h4>
              </b-col>
            </b-row>
            <b-row class="mt-2">
              <b-col>
                <h6>Name</h6>
                <p>{{ this.detailObj.userName }}</p>
              </b-col>
              <b-col>
                <h6>Email</h6>
                <p>{{ this.detailObj.email }}</p>
              </b-col>
              <b-col>
                <h6>Contact</h6>
                <p>{{ this.detailObj.contactNo }}</p>
              </b-col>
              <b-col>
                <h6>Landline</h6>
                <p>{{ this.detailObj.landlineNo }}</p>
              </b-col>
            </b-row>
            <b-row>
              <b-col>
                <b-card-text>
                  <h5>Location</h5>
                  <p>{{ this.detailObj.address }}</p>
                </b-card-text>
              </b-col>
            </b-row>

            <b-card-text v-if="partners.length !== 0">
              <h5>Partners</h5>
              <b-row v-for="pt in partners" v-bind:key="pt.bpartnerId">
                <b-col>
                  <b-row>
                    <b-col>
                      <h6>Name</h6>
                      <p>{{ pt.name }}</p>
                    </b-col>
                    <b-col>
                      <h6>Email</h6>
                      <p>{{ pt.email }}</p>
                    </b-col>
                    <b-col>
                      <h6>EmiratesId</h6>
                      <p>{{ pt.emiratesId }}</p>
                    </b-col>
                  </b-row>
                </b-col>
              </b-row>
            </b-card-text>

            <!-- <b-row>
              <b-col>
                <h4 class="mb-0">Product Details</h4>
              </b-col>
            </b-row>

            <b-row class="mt-2">
              <b-col>
                <b-card-text>
                  <p>{{ this.detailObj.productType }}</p>
                </b-card-text>
              </b-col>
            </b-row> -->

            <b-row>
              <b-col>
                <h4 class="mb-0">Document Details</h4>
              </b-col>
            </b-row>
            <b-row class="mt-2">
              <b-col>
                <h6>Trade License</h6>
                <p>{{ detailObj.tradelicenseNumber }}</p>
              </b-col>
              <b-col>
                <h6>License Expiry</h6>
                <p>{{ detailObj.tradelicenseExpiry }}</p>
              </b-col>
              <b-col>
                <h6>License Source</h6>
                <p>{{ detailObj.licenseSource }}</p>
              </b-col>
            </b-row>

            <b-row>
              <b-col>
                <h5>Documents</h5>
                <mygallery
                  :images="docs"
                  :index="index"
                  @close="index = null"
                ></mygallery>
                <div
                  class="image"
                  v-for="(image, imageIndex) in docs"
                  :key="imageIndex"
                  @click="index = imageIndex"
                  :style="{
                    backgroundImage: 'url(' + image + ')',
                    width: '100px',
                    height: '100px',
                  }"
                ></div>
              </b-col>
            </b-row>
            <b-row class="mt-2">
              <b-col cols="2"> </b-col>
              <b-col cols="8" class="text-center">
                <b-button
                  v-ripple.400="'rgba(40, 199, 111, 0.15)'"
                  variant="outline-success"
                  @click="ApproveVendor(detailObj.userId)"
                  >Approve</b-button
                >
                <b-button
                  v-ripple.400="'rgba(234, 84, 85, 0.15)'"
                  variant="outline-danger"
                  @click="DeclineVendor(detailObj.userId)"
                  >Decline</b-button
                >
                <b-button
                  v-if="suspended == 'approved'"
                  v-ripple.400="'rgba(234, 84, 85, 0.15)'"
                  variant="outline-danger"
                  @click="SuspendVendor(detailObj.userId)"
                  >Suspend</b-button
                >
                <b-button
                  v-if="suspended == 'suspended'"
                  v-ripple.400="'rgba(234, 84, 85, 0.15)'"
                  variant="outline-success"
                  @click="ApproveVendor(detailObj.userId)"
                  >Active</b-button
                >
              </b-col>
              <b-col cols="2"> </b-col>
            </b-row>
          </b-card>
        </div>
      </div>
    </b-modal>
    <b-modal
      id="modal-reviewNote"
      cancel-variant="outline-secondary"
      ok-title="Send"
      centered
      size="lg"
      @ok="SendReview()"
      title="Review note."
    >
      <b-form>
        <vue-editor v-model="content"></vue-editor>
      </b-form>
    </b-modal>
    <b-modal
      id="modal-select4"
      title="Send back for revisions"
      centered
      ok-only
      size="lg"
    >
      <div>
        <b-spinner
          variant="primary"
          type="grow"
          style="margin-left: 350px"
          class="p-2"
          label="Spinning"
        ></b-spinner>
      </div>
      <div class="container mt-2">
        <div class="container">
          <b-card v-if="loading == false">
            <div class="row">
              <div class="col-md-12">
                <h4 class="mt-2">Review Notes:</h4>
                <div class="row">
                  <div class="col-md-12">
                    <p>{{ this.notes }}</p>
                  </div>
                </div>
              </div>
            </div>

            <b-row class="mt-2">
              <b-col cols="2"> </b-col>
              <b-col cols="8" class="text-center">
                <b-button
                  v-ripple.400="'rgba(40, 199, 111, 0.15)'"
                  variant="outline-success"
                  @click="SendBack(detailObj.userId, detailObj.vendorId)"
                  >Save</b-button
                >
              </b-col>
              <b-col cols="2"> </b-col>
            </b-row>
          </b-card>
        </div>
      </div>
    </b-modal>

    <b-modal
      id="modal-login"
      cancel-variant="outline-secondary"
      ok-title="Show data"
      centered
      @ok="Filter()"
      title="Filters"
    >
      <b-form>
        <b-form-group>
          <h5>Select date range</h5>
          <div>
            <flat-pickr
              v-model="date.range"
              class="form-control"
              :config="{ allowInput: true, mode: 'range' }"
            ></flat-pickr>
          </div>
        </b-form-group>
        <br />
        <b-form-group>
          <h5>Select filter</h5>
          <v-select
            v-model="filterData"
            :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
            :options="productfilterOptions"
            label="text"
            :clearable="false"
            placeholder="Select Filter"
          />
        </b-form-group>
      </b-form>
    </b-modal>
    <!-- Review Note Model -->
    <b-modal
      id="modal-login"
      cancel-variant="outline-secondary"
      ok-title="Ok"
      centered
      @ok="Filter()"
      title="Filters"
    >
      <b-form>
        <b-form-group>
          <h5>Review note.</h5>
          <div>
            <flat-pickr
              v-model="date.range"
              class="form-control"
              :config="{ allowInput: true, mode: 'range' }"
            ></flat-pickr>
          </div>
        </b-form-group>
      </b-form>
    </b-modal>
    <b-card no-body class="mb-0" cols="12" md="12" sm="12">
      <div class="m-2">
        <!-- Table Top -->
        <b-row>
          <!-- Search -->
          <b-col cols="12" md="6">
            <div class="d-flex align-items-center justify-content-start">
              <div style="padding-right: 15px">
                <b-button v-b-modal.modal-login variant="primary">
                  <span class="text-nowrap">Filters</span>
                </b-button>
              </div>
              <b-form-input
                v-model="searchQuery"
                class="d-inline-block mr-1"
                placeholder="Search..."
              />
            </div>
          </b-col>
          <!-- Per Page -->
          <!-- <b-col
            cols="12"
            md="6"
            class="d-flex align-items-center justify-content-end mb-1 mb-md-0"
          >
            
            <label>Show</label>
            <v-select
              v-model="perPage"
              :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
              :options="perPageOptions"
              :clearable="false"
              class="per-page-selector d-inline-block mx-50"
            />
            <label>entries</label>
          </b-col> -->
        </b-row>
        <div class="mt-1 mr-1" style="margin-bottom: -10px">
          <b-row align-h="end">
            <b-col class="pr-1" cols="*" lg="*" md="*" sm="*">
              <div>
                <b-button
                  variant="outline-secondary"
                  @click="FilterVendors('unverified')"
                >
                  <span class="text-nowrap"
                    >Unverified
                    <b-badge variant="primary" class="badge-glow">
                      {{ unverified }}
                    </b-badge></span
                  >
                </b-button>
              </div>
            </b-col>

            <b-col class="pr-1" cols="*" lg="*" md="*" sm="*">
              <div>
                <b-button
                  variant="outline-success"
                  @click="FilterVendors('verified')"
                >
                  <span style="padding-left: 10px" class="text-nowrap">
                    Verified
                    <b-badge variant="primary" class="badge-glow">
                      {{ verified }}
                    </b-badge></span
                  >
                </b-button>
              </div>
            </b-col>
            <b-col class="pr-1" cols="*" lg="*" md="*" sm="*">
              <div>
                <b-button
                  variant="outline-info"
                  @click="FilterVendors('send back for revisions')"
                >
                  <span style="padding-left: 10px" class="text-nowrap">
                    Send for revision
                    <b-badge variant="primary" class="badge-glow">
                      {{ sendback }}
                    </b-badge></span
                  >
                </b-button>
              </div>
            </b-col>
            <b-col class="pr-1" cols="*" lg="*" md="*" sm="*">
              <div>
                <b-button
                  variant="outline-success"
                  @click="FilterVendors('resubmitted')"
                >
                  <span style="padding-left: 10px" class="text-nowrap">
                    Resubmitted
                    <b-badge variant="primary" class="badge-glow">
                      {{ resubmitted }}
                    </b-badge></span
                  >
                </b-button>
              </div>
            </b-col>
            <b-col class="pr-1" cols="*" lg="*" md="*" sm="*">
              <div>
                <b-button variant="warning" @click="FilterVendors('suspended')">
                  <span style="padding-left: 10px" class="text-nowrap">
                    Suspended
                    <b-badge variant="primary" class="badge-glow">
                      {{ mysuspended }}
                    </b-badge></span
                  >
                </b-button>
              </div>
            </b-col>
            <b-col class="pr-1" cols="*" lg="*" md="*" sm="*">
              <div>
                <b-button variant="success" @click="FilterVendors('approved')">
                  <span class="text-nowrap"
                    >Approved
                    <b-badge variant="primary" class="badge-glow">
                      {{ approved }}
                    </b-badge></span
                  >
                </b-button>
              </div>
            </b-col>
            <b-col class="pr-1" cols="*" lg="*" md="*" sm="*">
              <div>
                <b-button variant="danger" @click="FilterVendors('declined')">
                  <span class="text-nowrap"
                    >Declined
                    <b-badge variant="danger" class="badge-glow">
                      {{ declined }}
                    </b-badge></span
                  >
                </b-button>
              </div>
            </b-col>
          </b-row>
        </div>
      </div>

      <div>
        <b-table :items="filterVendors" :fields="fields" responsive striped>
          <template #cell(logo)="data">
            <b-avatar class="mr-1" :src="data.value" />
          </template>
          <template #cell(actions)="data">
            <b-dropdown
              variant="link"
              no-caret
              :right="$store.state.appConfig.isRTL"
            >
              <!-- <template #button-content>
              <feather-icon
                icon="MoreVerticalIcon"
                size="16"
                class="align-middle text-body"
              />
            </template> -->
              <!-- <b-dropdown-item  v-b-modal.modal-select2  @click="openDetails(data.item.vendorId)">
              <feather-icon icon="FileTextIcon" />
              
              <span class="align-middle ml-50"   >Details</span>
            </b-dropdown-item> -->
              <feather-icon
                icon="FileTextIcon"
                v-b-modal.modal-select2
                @click="openDetails(data.item.vendorId)"
              />
              <!-- <b-dropdown-item @click="AcceptOrder(data.item.orderId)">
              <feather-icon icon="CheckIcon" />
              <span class="align-middle ml-50" >Accept order</span>
            </b-dropdown-item>

            <b-dropdown-item @click="DenyOrder(data.item.orderId)">
              <feather-icon icon="XIcon" />
              <span class="align-middle ml-50">Decline order</span>
            </b-dropdown-item> -->
            </b-dropdown>
          </template>
        </b-table>
        <div class="mx-2 mb-2">
          <b-row>
            <b-col
              cols="12"
              sm="6"
              class="d-flex align-items-center justify-content-center justify-content-sm-start"
            >
              <!-- <span class="text-muted">Showing {{ dataMeta.from }} to {{ dataMeta.to }} of {{ dataMeta.of }} entries</span> -->
            </b-col>
            <!-- Pagination -->
            <b-col
              cols="12"
              sm="6"
              class="d-flex align-items-center justify-content-center justify-content-sm-end"
            >
              <b-pagination
                v-model="currentPage"
                :total-rows="totalOrders"
                :per-page="perPage"
                first-number
                last-number
                class="mb-0 mt-1 mt-sm-0"
                prev-class="prev-item"
                next-class="next-item"
              >
                <template #prev-text>
                  <feather-icon icon="ChevronLeftIcon" size="18" />
                </template>
                <template #next-text>
                  <feather-icon icon="ChevronRightIcon" size="18" />
                </template>
              </b-pagination>
            </b-col>
          </b-row>
        </div>
      </div>
    </b-card>
  </div>
</template>

<script>
import {
  BCard,
  BRow,
  BCol,
  BFormInput,
  BButton,
  BTable,
  BMedia,
  BAvatar,
  BLink,
  BBadge,
  BDropdown,
  BDropdownItem,
  BPagination,
  BImg,
  BSpinner,
  BCardImg,
} from 'bootstrap-vue';
import { VueEditor } from 'vue2-editor';
import vSelect from 'vue-select';
import store from '@/store';
//import { ref, onUnmounted } from '@vue/composition-api'
import { avatarText } from '@core/utils/filter';
//import useAllOrdersList from './useAllOrdersList'
//import orderStoreModule from '../allordersStoreModule'
import flatPickr from 'vue-flatpickr-component';
import Vue from 'vue';
import { BFormSelect } from 'bootstrap-vue';
//import Multiselect from "vue-multiselect";
import VueGallery from 'vue-gallery';
import 'viewerjs/dist/viewer.css';
import VueViewer from 'v-viewer';
Vue.use(VueViewer);
export default {
  components: {
    //Multiselect,

    BCard,
    BRow,
    BCol,
    BFormInput,
    BButton,
    BTable,
    BSpinner,
    BCardImg,
    BImg,
    VueEditor,
    //BMedia,
    BAvatar,
    //BLink,
    BBadge,
    //VueViewer,
    //BDropdown,
    //BDropdownItem,
    BPagination,
    vSelect,
    flatPickr,

    mygallery: VueGallery,
    //'gallery': VueGallery
  },

  props: {
    /* modalFilter: {
    type: [String, null],
    default: null,
    },
    modalFilterOptions: {
    type: Array,
    required: true,
    }*/
  },
  computed: {
    filterVendors: function () {
      return this.items.filter((pro) => {
        return (
          pro.bakeryName.toLowerCase().match(this.searchQuery.toLowerCase()) ||
          pro.city.toLowerCase().match(this.searchQuery.toLowerCase())
        );

        // toString(pro.orderId).match(toString(this.searchQuery))
      });
    },
  },

  created() {
    this.$bvModal.show('modal-select4');
    this.LoadData();
  },
  data() {
    return {
      content: '',
      verified: 0,
      resubmitted: 0,
      sendback: 0,
      mysuspended: 0,
      approved: 0,
      declined: 0,
      unverified: 0,

      //  status: [{
      //   1: 'Current', approved: 'Professional', 3: 'Rejected', 4: 'Resigned', 5: 'Applied',
      // },
      // {
      //   1: 'light-primary', 2: 'light-success', 3: 'light-danger', 4: 'light-warning', 5: 'light-info',
      // }],
      loading: false,
      suspended: '',
      filterData: '',
      date: {
        range: '',
      },
      searchQuery: '',
      logoindex: null,
      logo: [],
      index: null,

      cover: '',
      docs: [],
      partners: [],
      fields: [
        { key: 'logo', label: 'logo' },
        { label: 'Name', key: 'bakeryName' },
        { label: 'City', key: 'city' },
        { label: 'Types', key: 'productType' },
        { label: 'Status', key: 'status' },
        { label: 'Details', key: 'actions' },
      ],
      items: [],
      selected: null,
      filterOptions: [
        { text: 'Most sold product', value: 'mostSold' },
        { text: 'Least sold product', value: 'leastSold' },
        { text: 'Most popular product', value: 'mostPopular' },
        { text: 'Least popular product', value: 'leastPopular' },
        { text: 'Most profitable product', value: 'mostProfitable' },
      ],
      rangeDate: null,
      myObj: {
        orderId: 0,
        customerId: 0,
        bill: 0,
        discount: 0,
        modeOfpayment: '',
        vendorId: 0,
        deliveryCharges: 0,
        date: '',
        totalBill: 0,
      },
      detailObj: {},
    };
  },
  methods: {
    SendReview() {
      var data = {
        userId: this.vendorId,
        status: 'send back for revisions',
        note: this.content,
      };
      var axios = require('axios');
      var config = {
        method: 'put',
        url: 'https://okaaik.fastech.pk/api/vendors/UpdateStatus',
        headers: {
          Authorization:
            'bearer 56EeZXfkyt2E4yYawlxCo3FFMZiFmhDs2VZbA9jLIfTs70L_z5gC9yAMCchwnNRUcicotXJNc3GcSB8M-T9i8PLd-HUMk4KXom3Uu_kC4kbFhSk02Z9YQRwZqVdXjECBVCA0gOhnVoRLztCFQxNgVJbeWEMubqzh8dFpvnkIoC_2FF0kyCzKbwj4SYtF1fMMyhy2CO8DOIWUTZtdpwpI-IjGB0CyHhav_I_ag72apOUtKKhAoshLdYfcFz3QBYC0Pj-FIyEbzz_S5Rcp9fiIG3y5UM6RtSf8zP08M42rVjkLHwOb5cc8YafdfFExhGFI',
        },
        data: data,
      };
      console.log(config.url);
      axios(config)
        .then((response) => {
          console.log(JSON.stringify(response.data));
          if (response.data.status === 'success') {
            Swal.fire('Sent!', 'Your review has been sent.', 'success').then(
              (res) => {
                this.$bvModal.hide('modal-select2');
                this.LoadData();
              },
            );
          }
        })
        .catch(function (error) {
          console.log(error);
        });
    },
    show() {
      this.$viewerApi({
        images: this.images,
      });
    },
    FilterVendors(status) {
      var axios = require('axios');

      var config = {
        method: 'get',
        url:
          'https://okaaik.fastech.pk/api/vendors/VendorsByStatus/?status=' +
          status,
        headers: {
          Authorization:
            'bearer 56EeZXfkyt2E4yYawlxCo3FFMZiFmhDs2VZbA9jLIfTs70L_z5gC9yAMCchwnNRUcicotXJNc3GcSB8M-T9i8PLd-HUMk4KXom3Uu_kC4kbFhSk02Z9YQRwZqVdXjECBVCA0gOhnVoRLztCFQxNgVJbeWEMubqzh8dFpvnkIoC_2FF0kyCzKbwj4SYtF1fMMyhy2CO8DOIWUTZtdpwpI-IjGB0CyHhav_I_ag72apOUtKKhAoshLdYfcFz3QBYC0Pj-FIyEbzz_S5Rcp9fiIG3y5UM6RtSf8zP08M42rVjkLHwOb5cc8YafdfFExhGFI',
        },
      };

      axios(config)
        .then((response) => {
          this.items = response.data;
          console.log(this.items);
        })
        .catch(function (error) {
          console.log(error);
        });
    },
    Filter() {
      // console.log("Osama");
      console.log(this.date.range, this.filterData.value);
      var split = this.date.range.split(' ');
      var from = split[0];
      var to = split[2];

      console.log(from);
    },
    ApproveVendor(id) {
      console.log(id);
      Swal.fire({
        title: 'Do you want to approve that Bakery?',
        text: "You won't be able to revert this!",
        icon: 'question',
        iconColor: '#FB595f',
        confirmButtonText: `Accept`,
        confirmButtonColor: '#FB595f',
      }).then((result) => {
        /* Read more about isConfirmed, isDenied below */
        if (result.isConfirmed) {
          var axios = require('axios');
          var config = {
            method: 'put',
            url:
              'https://okaaik.fastech.pk/api/vendors/vendorStatus/?id=' +
              id +
              '&status=true',
            headers: {
              Authorization:
                'bearer 56EeZXfkyt2E4yYawlxCo3FFMZiFmhDs2VZbA9jLIfTs70L_z5gC9yAMCchwnNRUcicotXJNc3GcSB8M-T9i8PLd-HUMk4KXom3Uu_kC4kbFhSk02Z9YQRwZqVdXjECBVCA0gOhnVoRLztCFQxNgVJbeWEMubqzh8dFpvnkIoC_2FF0kyCzKbwj4SYtF1fMMyhy2CO8DOIWUTZtdpwpI-IjGB0CyHhav_I_ag72apOUtKKhAoshLdYfcFz3QBYC0Pj-FIyEbzz_S5Rcp9fiIG3y5UM6RtSf8zP08M42rVjkLHwOb5cc8YafdfFExhGFI',
            },
          };
          console.log(config.url);
          axios(config)
            .then((response) => {
              console.log(JSON.stringify(response.data));
              if (response.data.status === 'success') {
                this.suspended = true;
                Swal.fire('Accepted!', '', 'success').then((res) => {
                  this.$bvModal.hide('modal-select2');
                  this.LoadData();
                });
              }
            })
            .catch(function (error) {
              console.log(error);
            });
        }
      });
    },
    SuspendVendor(id) {
      Swal.fire({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, suspend it!',
      }).then((result) => {
        if (result.isConfirmed) {
          var axios = require('axios');
          var config = {
            method: 'put',
            url:
              'https://okaaik.fastech.pk/api/vendors/vendorStatus/?id=' +
              id +
              '&status=suspended',
            headers: {
              Authorization:
                'bearer 56EeZXfkyt2E4yYawlxCo3FFMZiFmhDs2VZbA9jLIfTs70L_z5gC9yAMCchwnNRUcicotXJNc3GcSB8M-T9i8PLd-HUMk4KXom3Uu_kC4kbFhSk02Z9YQRwZqVdXjECBVCA0gOhnVoRLztCFQxNgVJbeWEMubqzh8dFpvnkIoC_2FF0kyCzKbwj4SYtF1fMMyhy2CO8DOIWUTZtdpwpI-IjGB0CyHhav_I_ag72apOUtKKhAoshLdYfcFz3QBYC0Pj-FIyEbzz_S5Rcp9fiIG3y5UM6RtSf8zP08M42rVjkLHwOb5cc8YafdfFExhGFI',
            },
          };
          console.log(config.url);
          axios(config)
            .then((response) => {
              console.log(JSON.stringify(response.data));
              if (response.data.status === 'success') {
                Swal.fire(
                  'Suspended!',
                  'Vendor has been suspended.',
                  'success',
                ).then((res) => {
                  this.$bvModal.hide('modal-select2');
                  this.LoadData();
                });
              }
            })
            .catch(function (error) {
              console.log(error);
            });
        }
      });
    },
    DeclineVendor(id) {
      Swal.fire({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#EA5455',
        cancelButtonText: 'Send back for revision',
        cancelButtonColor: '#00cfE8',
        confirmButtonText: 'Yes, deny it!',
      }).then((result) => {
        console.log(result);

        if (result.isConfirmed) {
          var axios = require('axios');
          var config = {
            method: 'put',
            url:
              'https://okaaik.fastech.pk/api/vendors/vendorStatus/?id=' +
              id +
              '&status=false',
            headers: {
              Authorization:
                'bearer 56EeZXfkyt2E4yYawlxCo3FFMZiFmhDs2VZbA9jLIfTs70L_z5gC9yAMCchwnNRUcicotXJNc3GcSB8M-T9i8PLd-HUMk4KXom3Uu_kC4kbFhSk02Z9YQRwZqVdXjECBVCA0gOhnVoRLztCFQxNgVJbeWEMubqzh8dFpvnkIoC_2FF0kyCzKbwj4SYtF1fMMyhy2CO8DOIWUTZtdpwpI-IjGB0CyHhav_I_ag72apOUtKKhAoshLdYfcFz3QBYC0Pj-FIyEbzz_S5Rcp9fiIG3y5UM6RtSf8zP08M42rVjkLHwOb5cc8YafdfFExhGFI',
            },
          };
          console.log(config.url);
          axios(config)
            .then((response) => {
              console.log(JSON.stringify(response.data));
              if (response.data.status === 'success') {
                Swal.fire(
                  'Denied!',
                  'Your order has been denied.',
                  'success',
                ).then((res) => {
                  this.$bvModal.hide('modal-select2');
                  this.LoadData();
                });
              }
            })
            .catch(function (error) {
              console.log(error);
            });
        } else if (result.isDismissed) {
          this.$bvModal.show('modal-reviewNote');
          this.vendorId = id;
        }
      });
    },
    openDetails(id) {
      this.loading = true;
      this.detailObj = [];
      this.partners = [];
      this.docs = [];
      this.logo = [];
      console.log(id);
      var axios = require('axios');

      var config = {
        method: 'get',
        url: 'https://okaaik.fastech.pk/api/vendors/vendorDetails/' + id,
        headers: {
          Authorization:
            'bearer 56EeZXfkyt2E4yYawlxCo3FFMZiFmhDs2VZbA9jLIfTs70L_z5gC9yAMCchwnNRUcicotXJNc3GcSB8M-T9i8PLd-HUMk4KXom3Uu_kC4kbFhSk02Z9YQRwZqVdXjECBVCA0gOhnVoRLztCFQxNgVJbeWEMubqzh8dFpvnkIoC_2FF0kyCzKbwj4SYtF1fMMyhy2CO8DOIWUTZtdpwpI-IjGB0CyHhav_I_ag72apOUtKKhAoshLdYfcFz3QBYC0Pj-FIyEbzz_S5Rcp9fiIG3y5UM6RtSf8zP08M42rVjkLHwOb5cc8YafdfFExhGFI',
        },
      };

      axios(config)
        .then((response) => {
          // console.log(JSON.stringify(response.data));
          console.log(response.data.partners);

          //  this.data  =  response.data;
          console.log('This is my response', response.data);
          //this.suspended = response.data.vendor[0].status;

          //console.log(this.suspended);
          this.detailObj = response.data.vendor[0];
          this.suspended = this.detailObj.status;
          this.logo.push(response.data.vendor[0].logo);
          //console.log("Osama",response.data.vendor[0].logo);
          console.log('Mylogo', this.logo);
          console.log(this.suspended);
          //this.partners =[];
          //this.partners.push(response.data.partners[0]);
          this.partners = response.data.partners;
          //console.log(this.partners[0]);
          //this.docs.push(response.data.documents);

          //console.log(this.docs);
          response.data.documents.forEach((elem) => {
            this.docs.push(elem.documentPath);
          });
          console.log(this.docs);
          // this.detailObj = response.data[0]
          // console.log( this.detailObj);
          //this.cover = this.detailObj.coverImg;
          //console.log( this.cover);
          this.loading = false;
        })
        .catch(function (error) {
          console.log(error);
        });
    },
    AcceptOrder(id) {
      Swal.fire({
        title: 'Do you want to accept the order?',
        text: "You won't be able to revert this!",
        icon: 'question',
        iconColor: '#FB595f',
        confirmButtonText: `Accept`,
        confirmButtonColor: '#FB595f',
      }).then((result) => {
        /* Read more about isConfirmed, isDenied below */
        if (result.isConfirmed) {
          var axios = require('axios');
          var config = {
            method: 'put',
            url:
              'https://okaaik.fastech.pk/api/oOrders/UpdateOrderStatus/?id=' +
              id +
              '&check=true',
            headers: {
              Authorization:
                'bearer 56EeZXfkyt2E4yYawlxCo3FFMZiFmhDs2VZbA9jLIfTs70L_z5gC9yAMCchwnNRUcicotXJNc3GcSB8M-T9i8PLd-HUMk4KXom3Uu_kC4kbFhSk02Z9YQRwZqVdXjECBVCA0gOhnVoRLztCFQxNgVJbeWEMubqzh8dFpvnkIoC_2FF0kyCzKbwj4SYtF1fMMyhy2CO8DOIWUTZtdpwpI-IjGB0CyHhav_I_ag72apOUtKKhAoshLdYfcFz3QBYC0Pj-FIyEbzz_S5Rcp9fiIG3y5UM6RtSf8zP08M42rVjkLHwOb5cc8YafdfFExhGFI',
            },
          };
          console.log(config.url);
          axios(config)
            .then((response) => {
              console.log(JSON.stringify(response.data));
              if (response.data.status === 'success') {
                Swal.fire('Accepted!', '', 'success').then((res) => {
                  this.LoadData();
                });
              }
            })
            .catch(function (error) {
              console.log(error);
            });
        }
      });
    },
    DenyOrder(id) {
      Swal.fire({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, deny it!',
      }).then((result) => {
        if (result.isConfirmed) {
          var axios = require('axios');
          var config = {
            method: 'put',
            url:
              'https://okaaik.fastech.pk/api/oOrders/UpdateOrderStatus/?id=' +
              id +
              '&check=false',
            headers: {
              Authorization:
                'bearer 56EeZXfkyt2E4yYawlxCo3FFMZiFmhDs2VZbA9jLIfTs70L_z5gC9yAMCchwnNRUcicotXJNc3GcSB8M-T9i8PLd-HUMk4KXom3Uu_kC4kbFhSk02Z9YQRwZqVdXjECBVCA0gOhnVoRLztCFQxNgVJbeWEMubqzh8dFpvnkIoC_2FF0kyCzKbwj4SYtF1fMMyhy2CO8DOIWUTZtdpwpI-IjGB0CyHhav_I_ag72apOUtKKhAoshLdYfcFz3QBYC0Pj-FIyEbzz_S5Rcp9fiIG3y5UM6RtSf8zP08M42rVjkLHwOb5cc8YafdfFExhGFI',
            },
          };
          console.log(config.url);
          axios(config)
            .then((response) => {
              console.log(JSON.stringify(response.data));
              if (response.data.status === 'success') {
                Swal.fire(
                  'Denied!',
                  'Your order has been denied.',
                  'success',
                ).then((res) => {
                  this.LoadData();
                });
              }
            })
            .catch(function (error) {
              console.log(error);
            });
        }
      });
    },
    LoadData() {
      var axios = require('axios');

      var config = {
        method: 'get',
        url: 'https://okaaik.fastech.pk/api/vendors/Getvendors/',
        headers: {
          Authorization:
            'bearer 56EeZXfkyt2E4yYawlxCo3FFMZiFmhDs2VZbA9jLIfTs70L_z5gC9yAMCchwnNRUcicotXJNc3GcSB8M-T9i8PLd-HUMk4KXom3Uu_kC4kbFhSk02Z9YQRwZqVdXjECBVCA0gOhnVoRLztCFQxNgVJbeWEMubqzh8dFpvnkIoC_2FF0kyCzKbwj4SYtF1fMMyhy2CO8DOIWUTZtdpwpI-IjGB0CyHhav_I_ag72apOUtKKhAoshLdYfcFz3QBYC0Pj-FIyEbzz_S5Rcp9fiIG3y5UM6RtSf8zP08M42rVjkLHwOb5cc8YafdfFExhGFI',
        },
      };

      axios(config)
        .then((response) => {
          this.verified = response.data.verified;
          this.resubmitted = response.data.resubmitted;
          this.sendback = response.data.sendback;
          this.mysuspended = response.data.suspended;
          this.approved = response.data.approved;
          this.declined = response.data.declined;
          this.unverified = response.data.unverified;
          this.items = response.data.query;

          console.log(this.items);
        })
        .catch(function (error) {
          console.log(error);
        });
    },
  },

  // setup() {
  //   const ORDER_APP_STORE_MODULE_NAME = 'app-order'

  //   // Register module
  //   // if (!store.hasModule(ORDER_APP_STORE_MODULE_NAME)) store.registerModule(ORDER_APP_STORE_MODULE_NAME, orderStoreModule)

  //   // // UnRegister on leave
  //   // onUnmounted(() => {
  //   //   if (store.hasModule(ORDER_APP_STORE_MODULE_NAME)) store.unregisterModule(ORDER_APP_STORE_MODULE_NAME)
  //   // })

  //   /*const modalFilterOptions = [
  //     { label: 'Most sold product', value: 'mostSold' },
  //     { label: 'Least sold product', value: 'leastSold' },
  //     { label: 'Most popular product', value: 'mostPopular' },
  //     { label: 'Least popular product', value: 'leastPopular' },
  //     { label: 'Most profitable product', value: 'mostProfitable' },
  //   ]*/

  //   const {

  //     tableColumns,
  //     perPage,
  //     currentPage,
  //     totalOrders,
  //     dataMeta,
  //     perPageOptions,
  //     searchQuery,
  //     sortBy,
  //     isSortDirDesc,
  //     refOrderListTable,
  //     refetchData,

  //    // modalFilter,
  //   } = useOrdersList()

  //   return {

  //     // Sidebar
  //     //isAddNewOrderSidebarActive,

  //     fetchMyOrders,
  //     tableColumns,
  //     perPage,
  //     currentPage,
  //     totalOrders,
  //     dataMeta,
  //     perPageOptions,
  //     searchQuery,
  //     sortBy,
  //     isSortDirDesc,
  //     refOrderListTable,
  //     refetchData,
  //     // Filter
  //     avatarText,
  //     //avatarText,
  //     //modalFilterOptions,
  //     //modalFilter,

  //   }
  // },
};
</script>

<style lang="scss" scoped>
.per-page-selector {
  width: 90px;
}
</style>

<style lang="scss">
@import '@core/scss/vue/libs/vue-select.scss';
@import '@core/scss/vue/libs/vue-flatpicker.scss';

@import '@core/scss/vue/pages/page-profile.scss';
</style>
<style scoped>
.image {
  float: left;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border: 1px solid #ebebeb;
  margin: 5px;
}
</style>
