


 <template>
   
  <div>
    <!-- modal login-->
    <b-modal
      id="modal-login"
      cancel-variant="outline-secondary"
      ok-title="Show data"
      centered
       @ok="Filter()"
      
      title="Filters"
    >
        
      <b-form>

       
        <b-form-group>
           <h5>Select filter</h5>
            <v-select
                      v-model="filterData"
                      :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
                      :options="productfilterOptions"
                      
                      label="text"
                      :clearable="false"
                      placeholder="Select Filter"
                    />
                
        </b-form-group>
      </b-form>         
    </b-modal>
    <b-modal
      id="modal-select2"
      size="lg"
      :title="detailObj.bakeryName"
      centered
    >
           <div v-if="loading ==true">
                 
    <b-spinner variant="primary" type="grow" style="margin-left:350px;" class="p-2"  label="Spinning"></b-spinner>
      </div> 

        <div   v-if="loading ==false">
       
      <div>
        <b-container class="bv-example-row">
   <b-card>
 <b-row>
    <div lg="3" md="3" sm="12" cols="12">
        
       <div class="profile-img pb-1" >
    
        <!-- <div >
          <p v-if="detailObj.isApproved == 'pending' " >  <b-button variant="gradient-warning" class="btn-icon">
    Pending  <feather-icon icon="TagIcon" />  </b-button> </p> 
              <p v-if="detailObj.isApproved == 'suspended' " >  <b-button variant="gradient-danger" class="btn-icon">
    Suspended  <feather-icon icon="TagIcon" />  </b-button> </p> 
    
    <p v-if="detailObj.isApproved == 'true'"  >  <b-button variant="gradient-success" class="btn-icon float-right">
     <feather-icon icon="CheckCircleIcon" />  </b-button> </p> 
    
      <p v-if="detailObj.isApproved == 'false'" >  <b-button variant="gradient-danger" class="btn-icon "  >
    Denined <feather-icon icon="XCircleIcon" />
  </b-button></p>
        </div> -->
         
        <b-card-img  :src="detailObj.coverImg" alt="Image" class="rounded-1" height="110px" ></b-card-img>
   
     
   
      
    </div>
    </div>  


    <b-col  lg="6" md="6"  sm="12" cols="12">
 <h3 > {{detailObj.title}}  </h3> 
  <b-row>
     <b-col>
    <p >   {{detailObj.description}}   </p> 
     </b-col>
 </b-row>  
    </b-col>   
    <b-col  lg="3" md="3" sm="12" cols="12" >
    <div class=""  >
          <p v-if="detailObj.isApproved == 'pending' " >  <b-button variant="gradient-warning" class="btn-icon">
    Pending  <feather-icon icon="TagIcon" />  </b-button> </p> 
              <p v-if="detailObj.isApproved == 'suspended' " >  <b-button variant="gradient-danger" class="btn-icon">
    Suspended  <feather-icon icon="TagIcon" />  </b-button> </p> 
    
    <p v-if="detailObj.isApproved == 'true'"  >  <b-button variant="gradient-success" class="btn-icon ">
 Approved    <feather-icon icon="CheckCircleIcon" />  </b-button> </p> 
    
      <p v-if="detailObj.isApproved == 'false'" >  <b-button variant="gradient-danger" class="btn-icon "  >
    Denined <feather-icon icon="XCircleIcon" />
  </b-button></p>
        </div> 
  
    </b-col> 

  </b-row>
   </b-card>
   

  <b-card>
<b-row>
    <b-col lg="4" md="4" cols="12"> 
    <h3>Category</h3>
    </b-col>
     <b-col lg="4" md="4" cols="12"> 
    <h3>Filling</h3>
    </b-col>
       <b-col lg="4" md="4" cols="12"> 
    <h3>Days required</h3>
    </b-col>
 </b-row>
<b-row>
   <b-col lg="4" md="4" cols="12"> 
    <p>{{detailObj.Name}}</p>
    
    </b-col>
     <b-col lg="4" md="4" cols="12"> 
  <p>{{detailObj.fillingName}}</p>
    </b-col>
       <b-col lg="4" md="4" cols="12"> 
   <p>{{detailObj.minimumTime}}</p>
    </b-col>
</b-row>
  </b-card>
   
 <b-card>
 <b-row>
    <b-col cols="12"> 
    <h3>Flavours</h3>
    </b-col>
 </b-row>
<b-row>

       <div v-for="flv in flavour[0]"
        v-bind:key="flv.flavourId">
         <b-col cols="12">  
        <p  >{{flv.flavourName}}</p>
   </b-col>
         </div> 
  

     
   

</b-row>
</b-card>


<div v-if="detailObj.totalLayer > 1">
   <b-card>
<b-row>
    <b-col lg="4" md="4" sm="4" cols="5"> 
    <h3>Layers</h3>
    </b-col>
    <b-col lg="7" md="7" sm="7" cols="7"> 
    <h3>Total ({{detailObj.totalLayer }})</h3>
    </b-col>
 </b-row>
  <b-row>

      
    
 <b-col cols="12">      
        <div v-for="flv in cakeLayers"
        v-bind:key="flv.cakeLayersId">
  
           
          <b-row>
         
       <b-col>
      <h6> Dummy layer </h6> <p> {{flv.dumyLayer}}   </p>
       </b-col>
       <b-col>
      <h6> Cake layer </h6> <p> {{flv.cakeLayer1}} </p>
       </b-col>
       <b-col>
     <h6> Layer price </h6> <p> AED {{flv.price}}  </p>
       </b-col>
          </b-row>
   
        </div> 
   </b-col>     

</b-row>
 </b-card>
</div>
 



 <b-card>
  <b-row>
    <b-col cols="12">
     
       <h3 style="margin-left:5px;" >Images </h3>
 <gallery :images="cakeImages" :index="index" @close="index = null"></gallery>
    <div
      class="image rounded-1"
      v-for="(image, imageIndex) in cakeImages"
      :key="imageIndex"
      @click="index = imageIndex"
      :style="{ backgroundImage: 'url(' + image + ')', width: '150px', height: '110px' }"
    ></div>
  
    </b-col>
   
  </b-row>
 </b-card>

     <b-row>
<b-col></b-col>
       <b-col>
         <b-row class="text-center">
           <b-col>
             <b-button v-if="suspended === 'pending' || suspended === 'false' || suspended === 'suspended'" v-ripple.400="'rgba(40, 199, 111, 0.15)'"  variant="outline-success" @click="ApproveProduct(detailObj.productId)">Approve</b-button>
             <b-button v-if="suspended === 'pending' "  v-ripple.400="'rgba(234, 84, 85, 0.15)'" variant="outline-danger" @click="DeclineProduct(detailObj.productId)">Decline</b-button>
           </b-col>


         </b-row>

<b-button v-if="suspended  ==='true'" class="ml-3" v-ripple.400="'rgba(234, 84, 85, 0.15)'" variant="outline-danger" @click="SuspendProduct(detailObj.productId)">Suspend</b-button>

     
       </b-col>
<b-col></b-col>

     </b-row>


    
</b-container>

  
      </div>
     

     
      </div>


    </b-modal>
    <b-modal
      id="modal-reviewNote"
      cancel-variant="outline-secondary"
      ok-title="Send"
      centered
      size="lg"
      @ok="SendReview()"
      title="Review note."
    >
      <b-form>
      
        
      <vue-editor v-model="content"></vue-editor>
        
      </b-form>
    </b-modal>
    <div
      no-body
      class="mb-2"
      style="padding:20px"
      cols="12" md="4" sm="12"

    >
    <div class="">

        <!-- Table Top -->
        <b-row class="text-center">
           <!-- Search -->


                 <b-col>

                <!-- <b-button

                @click="AddProduct()"
                variant="primary"
                >
                  <span class="text-nowrap">Add Product</span>
                </b-button> -->
            <b-button
              class="ml-1"
              v-b-modal.modal-login
              variant="primary"

                >
                  <span class="text-nowrap">Filters</span>
                </b-button>
             
        </b-col>


              <b-col cols="7" >

                 <b-form-input
                v-model="searchQuery"
                class="d-inline-block "
                placeholder="Search..."
              />


           </b-col>

           <b-col >

                <b-form-radio-group
                v-model="itemView"
                class=" list item-view-radio-group"
                buttons
                size="sm"
                button-variant="outline-primary"
              >
                <b-form-radio
                  v-for="option in itemViewOptions"
                  :key="option.value"
                  :value="option.value"
                >
                  <feather-icon
                    :icon="option.icon"
                    size="20"
                  />
                </b-form-radio>
              </b-form-radio-group>


           </b-col>





          <!-- Per Page -->

        </b-row>
      </div>
    <!-- :search-options="{
        enabled: true,
        externalQuery: searchTerm }" -->
        <!-- :select-options="{
        enabled: true,
        selectOnCheckboxOnly: true, // only select when checkbox is clicked instead of the row
        selectionInfoClass: 'custom-class',
        selectionText: 'rows selected',
        clearSelectionText: 'clear',
        disableSelectInfo: true, // disable the select info panel on top
        selectAllByGroup: true, // when used in combination with a grouped table, add a checkbox in the header row to check/uncheck the entire group
      }" -->
<!--         
      :pagination-options="{
        enabled: true,
        perPage:pageLength
      }" -->
  <div class="mt-2" v-if="itemView == 'list-view'">
    <b-card>
      <!-- <b-row>
    <b-col cols="8">
          <b-button
      size="sm"
      class="mr-1 mb-1"
      variant="outline-primary"
      @click="selectAllRows"
    >
      Select all
    </b-button>
    <b-button
      size="sm"
      class="mr-1 mb-1"
         variant="outline-secondary"
      @click="clearSelected"
    >
      Clear selected
    </b-button>
    </b-col>
   
  </b-row> -->
    
       <b-table
      :tbody-tr-class="rowClass"
      ref="selectableTable"
      selectable
      :select-mode="selectMode"
      :items="filterProducts"
      :fields="columns"
      responsive
      hover
      
      @row-selected="onRowSelected"
    >
    
      <template #cell(coverImg)="data">
      <b-img  :src="data.value" style="width: 75px; height: 75px" rounded alt="Rounded image"/>
      </template>
      <template #cell(title)="data">
         <span> <strong> {{data.item.title}} </strong> </span>
        </template>
          <template #cell(price)="data">
         <span> <strong>  AED {{data.item.price}} </strong> </span>
        </template>
      <!-- Example scoped slot for select state illustrative purposes -->
      <template  #cell(selected)="{ rowSelected }">
        <template v-if="rowSelected">
          <i class="feather icon-disc primary" />
        </template>


        
      </template> 
      

          <template #cell(actions)="data">
              <b-button
                variant="outline-secondary"
                class="btn-wishlist mr-0 mr-sm-1 mb-1 mb-sm-0"
              v-b-modal.modal-select2 @click="ProductDetails(data.item.productId,data.item.vendorId )"
              >
              
                <feather-icon
                  icon="FileTextIcon"
                  class="mr-50"
                 
                />
                <span>Details</span>
              </b-button>
            <b-button
                v-if="data.item.isApproved =='pending' || data.item.isApproved =='suspended' || data.item.isApproved =='false'"
                variant="success"
                @click="ApproveProduct(data.item.productId)"
              >
              
                <feather-icon
                  icon="CheckCircleIcon"
                  class="mr-50"
                 
                />
                <span>Approve</span>
              </b-button>
                <b-button
                class="ml-1"
                v-if="data.item.isApproved =='pending'"
                variant="danger"
                @click="DeclineProduct(data.item.productId)"
              >
              
                <feather-icon
                  icon="XCircleIcon"
                  class="mr-50"
                 
                />
                <span>Decline</span>
              </b-button>
          <b-button
                v-if="data.item.isApproved == 'true' "
                variant="warning"
                class="btn-wishlist mr-0 mr-sm-1 mb-1 mb-sm-0"
                @click="SuspendProduct(data.item.productId)"
              >
              
                <feather-icon
                  icon="EyeOffIcon"
                  class="mr-50"
                 
                />
                <span>Suspend</span>
              </b-button>
              </template>
       <!-- <template #cell(status)="data">
        <b-badge :variant="status[1][data.value]">
          {{ status[0][data.value] }}
        </b-badge>
      </template> -->
    </b-table>
    </b-card>
 
      </div>

      <div v-if="productEmpty == true">
  <b-alert show variant="secondary" class="p-2">No Data</b-alert>

      </div>
    <b-row class="mt-2" v-if="itemView == 'grid-view'">
      <b-col
        v-for="product in filterProducts"
        v-bind:key="product.productId"
        lg="3" cols="12" md="4" sm="12"
      >

        <!--<b-card-group deck v-for="p in myObj" :key="p.name">-->
           <a  >
           <b-card
            :img-src="product.coverImg"
            img-top
            img-alt="card img"
            img-height="250px"
            :title= "product.title"
            border-variant="light"
              v-b-modal.modal-select2
            @click="ProductDetails(product.productId ,product.vendorId )"
            v-if="productEmpty == false"
          >


            <b-row>

              <b-col md="12">
                <b-card-text >
                  <b>Bakery:</b>  {{product.vendorName}}
                </b-card-text>
              </b-col>
            </b-row>


            <b-row style="margin-top:5px;">

              <b-col md="12">
                <b-card-text >
                  <b>Category:</b>  {{product.Name}}
                </b-card-text>
              </b-col>
            </b-row>


             <b-row style="margin-top:5px;">
              <b-col md="9">
                <b-card-text>
                  <b>Price:</b> AED {{product.price}}
                </b-card-text>
              </b-col>
             
            </b-row>
            
             <b-row style="margin-top:5px;">
              <b-col md="9">
                <b-card-text>
       <b-badge
       v-if="product.isApproved == 'true'"
      variant="success"
      class="badge-glow"
    >
      Approved
    </b-badge>

      <b-badge
      v-if="product.isApproved == 'pending' "
      variant="secondary"
      class="badge-glow"
    >
      Pending
    </b-badge>
      <b-badge
      v-if=" product.isApproved == 'suspended' "
      variant="warning"
      class="badge-glow"
    >
      Suspended
    </b-badge>
    <b-badge
      v-if="product.isApproved == 'false' "
      variant="danger"
      class="badge-glow"
    >
      Denied
    </b-badge>
                </b-card-text>
              </b-col>
             
            </b-row>
          </b-card>
          </a>

        <!--</b-card-group>-->

      </b-col>

    </b-row>

      <!-- Pagination -->
        <b-col
          cols="12"
          sm="6"
          class="d-flex align-items-center justify-content-center justify-content-sm-end"
        >

          <b-pagination
            v-model="currentPage"
            :total-rows="totalOrders"
            :per-page="perPage"
            first-number
            last-number
            class="mb-0 mt-1 mt-sm-0"
            prev-class="prev-item"
            next-class="next-item"
          >
            <template #prev-text>
              <feather-icon
                icon="ChevronLeftIcon"
                size="18"
              />
            </template>
            <template #next-text>
              <feather-icon
                icon="ChevronRightIcon"
                size="18"
              />
            </template>
          </b-pagination>

        </b-col>

   </div>
   </div>
</template>

<script>
import {
  BRow, BCol, BCard, BFormInput, BCardText, BCardTitle, BButton, BPagination, BDropdown, BDropdownItem,BAlert,BListGroup, BSpinner,BCardImg,BFormRadio,BFormRadioGroup,BTable,BImg,BBadge
} from 'bootstrap-vue'
import vSelect from 'vue-select'
import VueGallery from 'vue-gallery';
import { VueEditor } from "vue2-editor";
export default {

 
  props:['title'],
  components: {
    //flatPickr,
    BBadge,
    vSelect,
    BImg,
    VueEditor,
    BFormInput,
    BCard,
    BCardText,
    BRow,
    BCol,
    BButton,
    BPagination,
    BFormRadio,
    BFormRadioGroup,
    BTable,
    //BDropdown, 
    //BDropdownItem,
    BAlert,
    BSpinner,
    BCardImg,
    'gallery': VueGallery
    //BListGroup
  },
 
    computed:
  {
    filterProducts:function()
    {
      return this.myProducts.filter((pro)=>
      {
        return pro.title.toLowerCase().match(this.searchQuery.toLowerCase()) ||
          pro.Name.toLowerCase().match(this.searchQuery.toLowerCase()) 

      } )
    }
  },
  created()
  {
    this.LoadData()
  },
  mounted() {
 
  },
  data(){
    return {
        content: "",
        vendorId:0,
      note:'',
        columns: [
        {
          label: '',
          key: 'selected',
        },
        {
          label: '',
          key: 'coverImg',
        },
        {
          label: '',
          key: 'title',
        },
        {
          label: '',
          key: 'price',
        },
         {
          label: '',
          key: 'actions',
        },
        ],
      itemView:'grid-view',
         itemViewOptions:[
    { icon: 'GridIcon', value: 'grid-view' },
    { icon: 'ListIcon', value: 'list-view' },
  ],
      //  images: [
      //     'https://dummyimage.com/800/ffffff/000000',
      //     'https://dummyimage.com/1600/ffffff/000000',
      //     'https://dummyimage.com/1280/000000/ffffff',
      //     'https://dummyimage.com/400/000000/ffffff',
      //   ],
        suspended:"",
        loading:false,
        filterData:'',
        date:{
          range:''
        },
        searchQuery:'',
        index:null,
        detailObj:{},
        cakeImages:[],
        flavour:[],
        cakeSize:[],
        cakeLayer:[],
        Aid:0,
       rangeDate: null,
       productfilterOptions: [
          { text: 'Most sold product', value: 'mostSold' },
          { text: 'Least sold product', value: 'leastSold' },
          { text: 'Most popular product', value: 'mostPopular' },
          { text: 'Least popular product', value: 'leastPopular' },
          { text: 'Most profitable product', value: 'mostProfitable' },
        ],
     myProducts: [
    
     ],
     productEmpty:false,
      myObj: {
        id: 0,
        name: "",
        desscription: "",
        flavor: "",
        image_url: "",
        price: "",
        serving: "",
        weight: "",
        category: "",
        vendor: "",

      },
    };
  },

  methods: {
    SendReview()
    {
 var statusObj =
  {
    "id":this.vendorId,
    "status":"false",
    "note":this.content,
  }
 var axios = require('axios');
  var config = {
    method: 'put',
    url: 'https://okaaik.fastech.pk/api/products/productStatus/' ,
  
    headers: {
      'Authorization': 'bearer 56EeZXfkyt2E4yYawlxCo3FFMZiFmhDs2VZbA9jLIfTs70L_z5gC9yAMCchwnNRUcicotXJNc3GcSB8M-T9i8PLd-HUMk4KXom3Uu_kC4kbFhSk02Z9YQRwZqVdXjECBVCA0gOhnVoRLztCFQxNgVJbeWEMubqzh8dFpvnkIoC_2FF0kyCzKbwj4SYtF1fMMyhy2CO8DOIWUTZtdpwpI-IjGB0CyHhav_I_ag72apOUtKKhAoshLdYfcFz3QBYC0Pj-FIyEbzz_S5Rcp9fiIG3y5UM6RtSf8zP08M42rVjkLHwOb5cc8YafdfFExhGFI'
    },
    data:statusObj,
  };
 console.log(config.url);
  axios(config)
  .then( (response) => {
     console.log(JSON.stringify(response.data));
     if(response.data.status === "success")
     {
      
      Swal.fire(
      'Denied!',
      'Your product has been denied.',
      'success'
    ).then((res)=>{

      this.LoadData();
      this.$bvModal.hide('modal-select2');
    })
     }
 })
  .catch(function (error) {
    console.log(error);
  });
    },
      Filter()
    { 
     // console.log("Osama");
      console.log(this.date.range , this.filterData.value);
      var split = this.date.range.split(" ");
      var from = split[0];
      var to = split[2];

       console.log(from); 
    },
    DeclineProduct(id)
    {
  Swal.fire({
  title: 'Are you sure?',
  text: "You won't be able to revert this!",
  icon: 'warning',
  showCancelButton: true,
  confirmButtonColor: '#3085d6',
  cancelButtonColor: '#d33',
  confirmButtonText: 'Yes, deny it!',
   
}).then((result) => {
 console.log(result);
  if (result.isConfirmed) 
  {
        this.$bvModal.show('modal-reviewNote');
        this.vendorId = id;
//         Swal.fire({
//         title: 'Enter review note',
//         heightAuto: false,
//         html:
//             '<textarea rows="100" id="swal-input2" class="swal2-input text-area"></textarea>',

//         confirmButtonText: 'Send',
//         confirmButtonColor: '#FF5A60',
//          preConfirm: () => {
//                 return [
//                  this.note = document.getElementById('swal-input2').value
//                 ]
//             }
//       }).then((result) => {

//         if (result.value) {
//           console.log( this.note );
//        //  return  console.log('Result: ' + result);
//           //console.log();
//             var statusObj =
//   {
//     "id":id,
//     "status":"false",
//     "note":this.note,
//   }
//  var axios = require('axios');
//   var config = {
//     method: 'put',
//     url: 'https://okaaik.fastech.pk/api/products/productStatus/' ,
  
//     headers: {
//       'Authorization': 'bearer 56EeZXfkyt2E4yYawlxCo3FFMZiFmhDs2VZbA9jLIfTs70L_z5gC9yAMCchwnNRUcicotXJNc3GcSB8M-T9i8PLd-HUMk4KXom3Uu_kC4kbFhSk02Z9YQRwZqVdXjECBVCA0gOhnVoRLztCFQxNgVJbeWEMubqzh8dFpvnkIoC_2FF0kyCzKbwj4SYtF1fMMyhy2CO8DOIWUTZtdpwpI-IjGB0CyHhav_I_ag72apOUtKKhAoshLdYfcFz3QBYC0Pj-FIyEbzz_S5Rcp9fiIG3y5UM6RtSf8zP08M42rVjkLHwOb5cc8YafdfFExhGFI'
//     },
//     data:statusObj,
//   };
//  console.log(config.url);
//   axios(config)
//   .then( (response) => {
//      console.log(JSON.stringify(response.data));
//      if(response.data.status === "success")
//      {
      
//       Swal.fire(
//       'Denied!',
//       'Your product has been denied.',
//       'success'
//     ).then((res)=>{

//       this.LoadData();
//       this.$bvModal.hide('modal-select2');
//     })
//      }
//  })
//   .catch(function (error) {
//     console.log(error);
//   });
//         }
//       });
   


   
  }
})
 
    },
       SuspendProduct(id)
    {
      Swal.fire({
  title: 'Are you sure?',
  text: "You won't be able to revert this!",
  icon: 'warning',
  showCancelButton: true,
  confirmButtonColor: '#3085d6',
  cancelButtonColor: '#d33',
  confirmButtonText: 'Yes, suspend it!'
}).then((result) => {
  if (result.isConfirmed) {
    var statusObj =
  {
    "id":id,
    "status":"suspended",
  }
  console.log(statusObj);
 var axios = require('axios');
  var config = {
    method: 'put',
    url: 'https://okaaik.fastech.pk/api/products/productStatus/' ,
  
    headers: {
      'Authorization': 'bearer 56EeZXfkyt2E4yYawlxCo3FFMZiFmhDs2VZbA9jLIfTs70L_z5gC9yAMCchwnNRUcicotXJNc3GcSB8M-T9i8PLd-HUMk4KXom3Uu_kC4kbFhSk02Z9YQRwZqVdXjECBVCA0gOhnVoRLztCFQxNgVJbeWEMubqzh8dFpvnkIoC_2FF0kyCzKbwj4SYtF1fMMyhy2CO8DOIWUTZtdpwpI-IjGB0CyHhav_I_ag72apOUtKKhAoshLdYfcFz3QBYC0Pj-FIyEbzz_S5Rcp9fiIG3y5UM6RtSf8zP08M42rVjkLHwOb5cc8YafdfFExhGFI'
    },
    data : statusObj
  };
 console.log(config.url);
  axios(config)
  .then( (response) => {
     console.log(JSON.stringify(response.data));
     if(response.data.status === "success")
     {
      
      Swal.fire(
      'Suspended!',
      'Product has been suspended.',
      'success'
    ).then((res)=>{

      this.LoadData();
      this.$bvModal.hide('modal-select2');
    })
     }
 })
  .catch(function (error) {
    console.log(error);
  });


   
  }
})
 
    },
    ApproveProduct(id)
    {

   Swal.fire({
  title: 'Do you want to approve this cake?',
  text: "You won't be able to revert this!",
  icon:'question',
  iconColor:'#FB595f',
  confirmButtonText: `Accept`,
  confirmButtonColor:'#FB595f',
  
}).then((result) => {
  /* Read more about isConfirmed, isDenied below */
  if (result.isConfirmed) {
  var axios = require('axios');
  var statusObj =
  {
    "id":id,
    "status":"true",
  }
  console.log(statusObj);
  var config = {
    method: 'put',
    url: 'https://okaaik.fastech.pk/api/products/productStatus/' ,
    headers: {
      'Authorization': 'bearer 56EeZXfkyt2E4yYawlxCo3FFMZiFmhDs2VZbA9jLIfTs70L_z5gC9yAMCchwnNRUcicotXJNc3GcSB8M-T9i8PLd-HUMk4KXom3Uu_kC4kbFhSk02Z9YQRwZqVdXjECBVCA0gOhnVoRLztCFQxNgVJbeWEMubqzh8dFpvnkIoC_2FF0kyCzKbwj4SYtF1fMMyhy2CO8DOIWUTZtdpwpI-IjGB0CyHhav_I_ag72apOUtKKhAoshLdYfcFz3QBYC0Pj-FIyEbzz_S5Rcp9fiIG3y5UM6RtSf8zP08M42rVjkLHwOb5cc8YafdfFExhGFI'
    },
    data : statusObj
  };
 console.log(config.url);
  axios(config)
  .then( (response) => {
     console.log(JSON.stringify(response.data));
     if(response.data.status === "success")
     {
      Swal.fire('Accepted!', '', 'success').then((res)=>{
      this.$bvModal.hide('modal-select2');    
      this.LoadData();
    })
     }
 })
  .catch(function (error) {
    console.log(error);
  });

  } 
})  
    },

ProductDetails(id,vendorId)
    {
      this.loading = true; 
      this.cakeLayers =[];
      this.cakeImages = [];
      this.cakeSize =[];
      this.flavour = [];
      console.log(id);
      var axios = require('axios');

  var config = {
    method: 'get',
    url: 'https://okaaik.fastech.pk/api/products/GetproductbyId/?id='+ id + '&vendorId='+vendorId ,
    headers: {
      'Authorization': 'bearer 56EeZXfkyt2E4yYawlxCo3FFMZiFmhDs2VZbA9jLIfTs70L_z5gC9yAMCchwnNRUcicotXJNc3GcSB8M-T9i8PLd-HUMk4KXom3Uu_kC4kbFhSk02Z9YQRwZqVdXjECBVCA0gOhnVoRLztCFQxNgVJbeWEMubqzh8dFpvnkIoC_2FF0kyCzKbwj4SYtF1fMMyhy2CO8DOIWUTZtdpwpI-IjGB0CyHhav_I_ag72apOUtKKhAoshLdYfcFz3QBYC0Pj-FIyEbzz_S5Rcp9fiIG3y5UM6RtSf8zP08M42rVjkLHwOb5cc8YafdfFExhGFI'
    }
  };

  axios(config)
  .then( (response) => {
  
    console.log( response.data);
     this.cakeImages=[];
     response.data.images.forEach(elem => {
              this.cakeImages.push(elem.imagePath);
            })
    //this.cakeImages.push(response.data.images[0].imagePath);
    this.cakeSize.push(response.data.cakesize);
    this.flavour.push(response.data.flavours);
    this.detailObj = response.data.data[0];
    console.log(this.detailObj);
    console.log(this.cakeImages);
    console.log(this.cakeSize[0]);
    this.suspended = this.detailObj.isApproved;
     this.cakeLayers = response.data.cakelayer;
    console.log(this.suspended);
    console.log(this.flavour[0]);
      this.loading = false; 
     //console.log( response.data);

 })
  .catch(function (error) {
    console.log(error);
  });
    },
DeleteProduct(id)
  {
Swal.fire({
  title: 'Are you sure?',
  text: "You won't be able to revert this!",
  icon: 'warning',
  showCancelButton: true,
  confirmButtonColor: '#3085d6',
  cancelButtonColor: '#d33',
  confirmButtonText: 'Yes, Delete it!'
}).then((result) => {
  if (result.isConfirmed) 
  {
  var axios = require('axios');

  var config = {
    method: 'delete',
    url: 'https://okaaik.fastech.pk/api/products/Deleteproduct/'+ id,
    headers: {
      'Authorization': 'bearer 56EeZXfkyt2E4yYawlxCo3FFMZiFmhDs2VZbA9jLIfTs70L_z5gC9yAMCchwnNRUcicotXJNc3GcSB8M-T9i8PLd-HUMk4KXom3Uu_kC4kbFhSk02Z9YQRwZqVdXjECBVCA0gOhnVoRLztCFQxNgVJbeWEMubqzh8dFpvnkIoC_2FF0kyCzKbwj4SYtF1fMMyhy2CO8DOIWUTZtdpwpI-IjGB0CyHhav_I_ag72apOUtKKhAoshLdYfcFz3QBYC0Pj-FIyEbzz_S5Rcp9fiIG3y5UM6RtSf8zP08M42rVjkLHwOb5cc8YafdfFExhGFI'
    }
  };

  axios(config)
  .then( (response) => {
    console.log(response.data);
    if(response.data.status === "success")
     {
      Swal.fire(
      'Deleted!',
      'Your product has been deleted.',
      'success'
    ).then((res)=>{
      this.LoadData();
    })
     }
     else
     {
      Swal.fire(
      'Error!',
      'Something went wrong.',
      'error'
    )
     }
   
     console.log(response.data);

 })
  .catch(function (error) {
    console.log(error);
  });
  }


});

  },
LoadData() 
    {
  var axios = require('axios');

  var config = {
    method: 'get',
    url: 'https://okaaik.fastech.pk/api/products/Getproducts/',
    headers: {
      'Authorization': 'bearer 56EeZXfkyt2E4yYawlxCo3FFMZiFmhDs2VZbA9jLIfTs70L_z5gC9yAMCchwnNRUcicotXJNc3GcSB8M-T9i8PLd-HUMk4KXom3Uu_kC4kbFhSk02Z9YQRwZqVdXjECBVCA0gOhnVoRLztCFQxNgVJbeWEMubqzh8dFpvnkIoC_2FF0kyCzKbwj4SYtF1fMMyhy2CO8DOIWUTZtdpwpI-IjGB0CyHhav_I_ag72apOUtKKhAoshLdYfcFz3QBYC0Pj-FIyEbzz_S5Rcp9fiIG3y5UM6RtSf8zP08M42rVjkLHwOb5cc8YafdfFExhGFI'
    }
  };

  axios(config)
  .then( (response) => {
    // console.log(JSON.stringify(response.data));
   
    //  this.data  =  response.data;
     //console.log( response.data);
 
    this.myProducts = response.data;
     console.log(this.myProducts);
  if(this.myProducts.length == 0)
   {
     this.productEmpty = true;
   }  
 })
  .catch(function (error) {
    console.log(error);
  });
    }
    

  },
}
</script> 

<style lang="scss" scoped>
.per-page-selector {
  width: 90px;
}
</style>

<style lang="scss">
@import '@core/scss/vue/libs/vue-select.scss';
</style>
<style scoped>
  .image {
    float: left;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border: 1px solid #ebebeb;
    margin: 5px;
  }
</style> 
